# project-root/requirements.txt

# Backend deps
fastapi
uvicorn
pandas
scikit-learn
regex
python-multipart
pydantic
numpy
spacy
sentence-transformers
keybert

# Frontend deps
streamlit
matplotlib
altair
requests
